{% extends 'users/base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="../../static/users/images/in-logo-1.svg" alt="" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-link" href="{% url 'details' %}">Details</a>
          <a class="nav-link" href="{% url 'creators' %}">Creators</a>
          <a class="nav-link" href="{% url 'use_cases' %}">Use Cases</a>
          <a class="nav-link" href="{% url 'libraries' %}">Libraries</a>
          <a class="nav-link active" aria-current="page" href="{% url 'contact_us' %}">Contact Us</a>
        </div>
        <form class="d-flex" id="authstyle">
          {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="btn" style="color: white; background-color: #e02828;"type="submit" id="header-links"> Profile </a>
            <a href="{% url 'logout' %}" class="btn" style="color: white; background-color: #e02828;"type="submit" id="header-links"> Logout </a>
            <a href="{% url 'libraries' %}" class="nav navbar-nav navbar-right"> <img src = "../../static/users/images/shopping_cart.png" style="margin-left:20px" width="35" height="35" alt=""></a>
          {% else %}
            <a href="{% url 'register' %}" class="btn" style="color: white; background-color: #e02828;"type="submit" id="header-links"> Create Account </a>
            <a href="{% url 'login' %}" class="btn" style="color: white; background-color: #e02828; margin-left: 10px; "type="submit" id="header-links">Log In</a>
          {% endif %}
          </form>
      </div>
    </div>
</nav>

<div class="container" style="color: white">
  <ul class="list-group">
    <li class="list-group-item">
      <h3>Let us know how we can help!</h3>
      We learn of new ways to use this amazing file format every day.
    </li>
    <li class="list-group-item">
      email:
      info@zimgit.com
    </li>
    <li class="list-group-item">
      <p>Hours:</p>
      <p>Monday - Friday: 9am - 5pm</p>
      Saturday - Sunday: Closed
    </li>
  </ul>

</div>

{% endblock %}