{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="../../static/users/images/in-logo-1.svg" alt="" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-link active" aria-current="page" href="{% url 'details' %}">Details</a>
          <a class="nav-link" href="{% url 'creators' %}">Creators</a>
          <a class="nav-link" href="{% url 'use_cases' %}">Use Cases</a>
          <a class="nav-link" href="{% url 'libraries' %}">Libraries</a>
          <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
        </div>
        <form class="d-flex" id="authstyle">
          {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="btn" style="color: white; background-color: #e02828;"type="submit" id="header-links"> Profile </a>
            <a href="{% url 'logout' %}" class="btn" style="color: white; background-color: #e02828;"type="submit" id="header-links"> Logout </a>
          {% else %}
            <a href="{% url 'register' %}" class="btn" style="color: white; background-color: #e02828;"type="submit" id="header-links"> Create Account </a>
            <a href="{% url 'login' %}" class="btn" style="color: white; background-color: #e02828; margin-left: 10px; "type="submit" id="header-links">Log In</a>
          {% endif %}
          </form>
      </div>
    </div>
</nav>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <body>
      <style>
          .carousel-item {
              height:32rem;
              background: #000;
              color: white;
              position: relative;
              background-position: center;
              background-size: cover;
          }
          .container {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              padding-bottom: 50px;
          }

          .overlay-image {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              background-position: center;
              background-size: cover;
              opacity:0.5;
          }
      </style>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-target="0" class="active"> </li>
        <li data-bs-target="#myCarousel" data-bs-target="1"> </li>
    </ol>
<div class="carousel-inner">
    <div class="carousel-item active">
        <div class="overlay-image" style="background-image:url(../../static/users/images/slide1.jpg)"> </div>
        <div class='container'>
            <h1>Example Headline</h1>
            <p>random textetestest
                esttsetsetsetsetsetsetsetestse
                setestsetestsetestestsetsetsetestsetset
                estestsetsetsetsetsetseset
                <a href="#" class="btn btn-lg btn-primary"> 
                    Sign up today
                </a>
            </p>
        </div>
    </div>
    <div class="carousel-item">
        <div class="overlay-image" style="background-image:url(../../static/users/images/slide2.jpg)"> </div>
        <div class='container'>
            <h1>Example Headline</h1>
            <p>random textetestest
                esttsetsetsetsetsetsetsetestse
                setestsetestsetestestsetsetsetestsetset
                estestsetsetsetsetsetseset
                <a href="{% url 'register' %}" class="btn btn-lg btn-primary"> 
                    Sign up today
                </a>
            </p>
        </div>
    </div>
</div>
    <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide-to="prev">
        <span class="sr-only"> Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide-to="next">
        <span class="sr-only"> Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

{% endblock content %}